node_modules
/public
.tmp
.sass-cache
bower_components
/dist

#OSX
.DS_Store
.AppleDouble
.LSOverride

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# WebStorm project files
.idea

# sublime text project files
alpiq.sublime-project
alpiq.sublime-workspace
